astor==0.8.1
autopep8==2.3.1
chlorophyll==0.4.2
hupper==1.12.1
matplotlib==3.10.0
networkx==3.3
numpy~=2.0.2
Pillow==11.1.0
Pygments==2.19.1
scipy==1.15.2
ttkbootstrap==1.10.1
webcolors==24.11.1

mvp~=0.9.3
constants~=0.6.0
tikzplotlib~=0.10.1
tensorflow~=2.18.0
torch~=2.6.0
torchviz~=0.0.3
torchinfo~=1.8.0